table.chess-board {
    border: 4px solid white;
}

table.chess-board td {
    border: 4px solid white;
    border-collapse: collapse;
    padding: 3px;
    font-size: 1.5em;
    background-color: burlywood;
    color: white;
}